<div class="wrapper text-center">
  <div class="container">
    <%= simple_form_for @restaurant do |f| %>
      <%= f.input :name %>
      <%= f.input :address %>
      <%= f.input :phone_number %>
      <%= f.input :category, as: :select, collection: ["chinese", "italian", "japanese", "french", "belgian"] %>
      <%= f.submit "Add restaurant" %>
    <% end %>
    <%= link_to "Cancel", restaurants_path, class: "btn btn-danger" %>
  </div>
</div>
