<div class="wrapper text-center" >
  <h1><%= @restaurant.name %></h1>
  <p><%= @restaurant.address %></p>
  <p><%= @restaurant.phone_number %></p>
  <p><%= @restaurant.category %></p>
  <%= link_to "Home", restaurants_path, class: "btn btn-success" %>
  <%= link_to "Add Review", new_restaurant_review_path(@restaurant), class: "btn btn-info" %>
  <%= link_to "Delete Restaurant", restaurant_path(@restaurant), method: :delete, class: "btn btn-danger" %>
</div>
<div class="container">
  <ul id="reviews">
    <% @restaurant.reviews.each do |review| %>
    <li class="review text-center">
      <h1><%= review.content %></h1>
      <p>Note : <%= review.rating %></p>

    </li>
    <% end %>
  </ul>
</div>
